*
{
    margin: 0;
    padding:0;
    list-style:none;
    background-color:#FFD370;
}

.wrap
{
    /* width:1440px; */
    box-sizing: border-box;
    
}

/* 標題 */
.title
{
    width:304px;
    margin: 48px auto;
}
.title h1
{
    font-size:50px;
}

/* 新增待辦事項 */
.newList
{
    /* width:100%; */
    position: relative;
    margin: auto;
}
.newContent
{
    background-color:#fff;
    margin:0px 0px 0px 370px;
    width:485px;
    height:48px;
    text-decoration: none;
    border-radius: 10px;
    font-size:15px;
    padding: 0px 15px;
    border: #fff;
    box-shadow: 0 0 10px 0;
    
}
.newList input:focus
{
    outline:none;
}
.newBtn
{
    background-color:#333;
    border-radius: 10px;
    width:40px;
    height:40px;
    color: #fff;
    font-size: 25px;
    position: absolute;
    right:410px;
    top:4px;
}

/* 列表事項內容 */
.contentAll
{
    background-color: #fff;
    width:100%;
}
.contentAll .tab
{
    margin:auto;
}
.contentAll .tab a
{
    text-decoration: none;
    color:#333;
    font-weight: bold;
}