@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600, 700");

*
{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: #eee;
    display: flex;
    color: dark;
    background-image: linear-gradient(
      174deg,
      #FFD370  2%,
      #FFD370  46%,
      #ffffff 46%,
      #ffffff 100%,
      #e8e8e8 100%
    );
}
.container
{
    width:100%;
    height:500px;
}
h1
{
    font-family: "Baloo Tamma 2";
    text-align: center;
    padding: 30px;
    letter-spacing: 8.75px;
}
/* 新增框 */

.newList
{
    width:500px;
    margin: auto;
    position:relative;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
}
.newList input:focus
{   
    outline: none;
}
.newItem
{
    width:500px;
    height:48px;
    border-radius: 10px;
    border:none;
    padding-left:20px;
    background-color:#fff;
   
}
/* 新增按鈕 */
.btn
{
    width:40px;
    height:40px;
    background-color: #000;
    position: absolute;
    right:10px;
    top: 3px;
    border-radius:10px;
    text-align: center;
    
}
.btn a
{
    color: #fff;
    text-decoration: none;
    font-size:34px;
    font-weight: bold;
    padding-top:10px;
}

/* tab */
.card_list
{
    background-color:#fff;
    margin:5px auto ;
    padding: 20px;
    width: 500px;
    border-radius:10px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}
.card_list .tab
{
    display: flex;
    justify-content:space-around;
    font-family: NotoSansCJKtc-Regular;
    font-size: 14px;
    color: #9F9A91;
    letter-spacing: 0.7px;
}
.tab .active:hover
{
    width:50px;
    text-align: center;
    border-bottom:2px solid #000;
    color:#000;
    font-weight: bold;
}
/* content */
.card_content .list a
{
    text-decoration: none;
}
.card_content .list li
{
    padding:10px 0;
}
.card_content .list li::after
{
    content:'';
    border-bottom:5px solid #000; 
}
.card_content .list li:first-child
{
    padding-top:30px;
}
.checkbox input
{
    margin-right:10px;
    width:20px;
    height: 15px;
}
.checkbox span
{
    text-align: center;
    font-family: NotoSansCJKtc-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.62px;
}
/* footer */
.list_footer
{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}
.list_footer p
{
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.7px;
}

/* 刪除按鈕 */
.list_footer a
{
    text-decoration: none;
    color: #9F9A91;
    letter-spacing: 0.7px;
    font-size: 14px;
    
}
.delete
{
    float: right;
}
